body {
  background-color: #f4f2ee;
  font-family: Arial, Helvetica, sans-serif;
}

/* Font Size */
.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px !important;
}

/* Position */
.position-relative {
  height: 25px;
}

.position-start-12 {
  left: 12px;
}

.position-start-24 {
  left: 24px;
}
